@import "../colors.css";

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* altura mínima para ocupar toda la pantalla */
}
#content-login {
  flex: 1;
  display: flex;
  align-items: center;    /* centra verticalmente */
  justify-content: center;/* centra horizontalmente */
  background-image: url("../../../img/login/login-background.webp");
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  


.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--secondary);
  color: var(--bg);
}

.login-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}
