:root {
  --verdeClaro: #00897B;       /* Verde azulado profundo */
  --verdeOscuro: #1A535C;     /* Verde azulado oscuro */
  --amarillo: #FFB400;        /* Amarillo ámbar */
  --blanco: #F5F5F5;            /* Gris muy claro, casi blanco */
  --fondoVerde: #0D2B32;       /* Fondo oscuro para el logo blanco */
  --negro: #000;            /*Color negro puro*/
  --grisOscuro: #333;         /* Gris oscuro, sin brillo*/
  --grisClaro: #fff;          /*Gris muy claro, casi blanco*/
  --azul: #007bff;           /*Azul oscuro brillante*/
  --rojo: #D10000;           /*Rojo oscuro y con brillo*/
  --lima: #BFFF00;          /*Color lima, brillante*/
  
}