:root {
    --primary: #EF8354;       /* Naranja suave */
    --secondary: #2D3142;     /* Gris oscuro */
    --accent: #FCD581;        /* Amarillo claro */
    --bg: #F9F7F7;            /* Blanco humo */
    --text: #2D3142;
    --bck: black;          /* Texto principal */
  }
  